/*可控的左右滚动*/
.bar {
	position: absolute;
	z-index: 100;
	top: 280px;
	left: 300px;
	margin-left: -100px;
	height: 18px;
}
.bar .prev,
.bar .next {
	float: left;
	width: 18px;
	height: 18px;
	outline: none;
	background-image: url(../img/navigator.png);
	background-repeat: no-repeat;
}
.bar .prev {
	margin-right: -1px;
	background-position: -40px 0;
}
.bar .next { 
	background-position: -17px 0; 
}
.bar .prev:hover {
	text-decoration: none;
	background-position: 0 0;
}
.bar .next:hover {
	text-decoration: none;
	background-position: -57px 0;
}
	
.page { 
	float: left; 
	margin-left: 10px;
	margin-right: 10px; 
}
.page a {
	display: inline-block;
	width: 6px;
	height: 6px;
	margin: 6px 2px 0 2px;
	font-size: 0px;
	color: #70B2D5;
	background: url(../img/navigator.png) -80px -10px no-repeat;
	outline: none;
	overflow: hidden;
}
.page a.current,.page a:hover{
	color: #CACACA;
	background: url(../img/navigator.png) -80px 0 no-repeat;
}

/*.scrollable-panel {
	position: relative;
	width: 500px;
	height: 76px;
	overflow: hidden;
}
.scrollable-panel div {
	position: absolute;
	width: 2010em; /* 设置足够的宽度 */
/*} 
.scrollable-panel img {
	float: left;
	display: inline; 修复IE6双边距BUG	
	border: 1px solid #ccc;
	width: 120px;
	height: 60px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
} */
.carousel{
	list-style: none;
	padding: 0;
	margin: 0;
	cursor: move;
}
.carousel li {
	padding: 0;
	margin: 0;
	float: left;
	width: 500px;
	height: 300px;	
	line-height: 210px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	/*border: 1px solid #ccc;*/
	/*z-index: -1;*/
}
.carousel li img{
	width: 100%;
	height: 100%;
	-moz-user-select: none;
  	-webkit-user-select: none;
  	-ms-user-select: none;
  	-moz-user-drag: none;
  	-webkit-user-drag: none;
  	-ms-user-drag: none;
}